<section class="relative">
  <div class="bg-gray-100 md:h-[45vh] h-[50vh] w-[80%] md:w-[50%] rounded-xl shadow-md absolute top-[25%] md:top-[30%] left-[10%] md:left-[25%] text-center px-4 py-6 md:py-6 md:px-14 flex flex-col items-center justify-center leading-8 md:leading-10">
    <div class="flex items-center justify-center gap-1 md:gap-3">
        <img class="w-12 h-12" src="./assets/logo.jpg" alt="campipal logo">
        <h2 class="font-bold text-[1.5rem] text-[#0D853E]">
          Campipal-Lib
        </h2>
    </div>
    <h2 class="font-bold text-[1.2rem]">Welcome to Campipal-Library!</h2>
    <p class="text-gray-600 md:text-[1.1rem]">You will get redirected to your dashboard
    </p>
    <p class="text-gray-600 md:text-[1.1rem]">Have fun with Campipal-Lib</p>

  </div>
  <div class="bg-[#4291B0] h-[50vh]"></div>
  <div class="bg-gray-200 h-[50vh]"></div>
</section>
